@media screen and (max-width: $media-query-small-max-width) {
  html {
    font-size: 7px !important;
  }
}

@media screen and (max-width: $media-query-standard-max-width) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: $media-query-min-width) {
  html {
    font-size: 10px;
  }
}
