@media screen and (max-width: $media-query-small-max-width) {
  html {
    font-size: 5px;
  }
}

@media screen and (min-width: $media-query-small-max-width) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: $media-query-min-width) {
  html {
    font-size: 8px;
  }
}
