//Commonly used web colors
$gray: #707070;
$light-gray: #C9D0D6;
$light-blue: #76A5C3;
$white: #FFFFFF;
$black: #000000;


//Variable for default ui


// Variable for text
$base_font_size: 1rem;
$font-size-top-title: $base_font_size * 12;
$font-size-contents-title: $base_font_size * 10;
$font-size-contents-description: $base_font_size * 2.8;
$font-size-button: $base_font_size * 2.4;
$font-size-header: 28px;
$font-size-footer: 20px;
$base-font-color: $gray;
$footer-font-color: $light-gray;

// width
$max-width: 1920px;

// opacity
$opacity-carousel-point: 30%;
