//Commonly used web colors
$gray: #707070;
$light-gray: #C9D0D6;
$light-blue: #76A5C3;
$white: #FFFFFF;
$black: #000000;


//Variable for default ui


// Variable for text
$font-size-top-title: 120px;
$font-size-contents-title: 100px;
$font-size-contents-description: 28px;
$font-size-button: 24px;
$font-size-header: 28px;
$font-size-footer: 20px;
$base-font-color: $gray;
$footer-font-color: $light-gray;

// width
$max-width: 1920px;

// opacity
$opacity-carousel-point: 30%;
